html {
    font-size: 20px;
}

body {
    background-color: #072121;
    color: #ecefc8;
    max-width: 50rem;
    margin: 0 auto;
    font-family: "inconsolata";
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

h2 {
    font-size: 1.75rem;
    text-decoration: underline;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
    font-family: "poppins";
    justify-content: space-evenly;
    gap: 1rem;
    margin-right: 7.5%;
    gap: 5%;
    height: 100%;
}

.navigation-items li {
    white-space: nowrap;
}

.navigation-items li a{
    text-decoration: none;
    color: #ecefc8;
}


.name-and-work {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-top: 7%;
}

#profile-photo {
    width: 11.5rem;
    height: auto;
    border-radius: 50%;
    -webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

#profile-photo:hover {
    width: 13rem;
    height: auto;
    border-radius: 50%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.main-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "poppins";
    flex-wrap: wrap; 
    margin-left: 3%;
}

.main-name h1 {
    font-size: 2.5rem;
    margin-bottom: auto;
    }

.main-name h2 {
    text-decoration: none;
    margin-top: auto;
}

#about-me p {
    text-align: justify;
}

.project-title h3 {
    display: inline;
    cursor: pointer;
    font-family: "inconsolata";
}

.more-detail {
    width: 100%;
    margin-top: 3%;
}

#skills ul {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: .5rem;
    margin-right: 5%;  
}

#skills ul li {
    border: 0.05rem solid #ecefc8;
    padding: 0.5% 1.5%;
    border-radius: .5rem;
    
}

@media only screen and (max-width: 480px) {
    .navigation-items {
    font-size: .80rem;
    margin-bottom: 10%;
    margin-right: 10%;
    align-content: center;
    margin-top: 10%;
    gap: 5%;
    }
}

@media only screen and (max-width: 480px) {
    .language p {
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 750px) {
    .navigation-items {
        font-size: 1.10rem;
        margin-right: 5%;
        gap: 7%;
    }
}

@media only screen and (max-width: 1000px) {
    .name-and-work {
        flex-direction: column;
        justify-content: center;

    }
}

@media only screen and (max-width: 600px) {
    body {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .main-name {
        align-items: center;
    }
}


