html {
    font-size: 20px;
}

body {
    background-color: #072121;
    color: #ecefc8;
    max-width: 50rem;
    margin: 0 auto;
    font-family: "inconsolata";
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

h2 {
    font-size: 1.75rem;
    text-decoration: underline;
}

p {
    font-size: 1rem;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
    font-family: "poppins";
    justify-content: space-evenly;
    gap: 1rem;
    margin-right: 7.5%;
}

.navigation-items li {
    padding: 0 2%;
    white-space: nowrap;
}

.navigation-items li a{
    text-decoration: none;
    color: #ecefc8;
}

.contact ul li a{
    color:#ecefc8;
    text-decoration: none;
}

.contact ul li a:hover{
    text-decoration: underline;
}

.language p {
    margin-top: 5%;
    text-align: end;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .navigation-items {
    font-size: .70rem;
    margin-bottom: 10%;
    margin-right: 10%;
    align-content: center;
    margin-top: 10%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 750px) {
    .navigation-items {
        font-size: 1.10rem;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 480px) {
    .language p {
        font-size: 0.7rem;
    }
}