html {
    font-size: 20px;
}

body {
    background-color: #3235c2;
    max-width: 30rem;
    margin: 0 auto;
    color:#b6b6cf;
    font-family: "raleway";
    padding-left: 7%;
    padding-right: 7%;
}


h1 {
    text-align: center;
    font-family: "fira sans";
    font-size: 1.10rem;
}

#button {
    text-align: center;
    border: 0.10rem solid #b6b6cf;
    padding: 3% 0;
    border-radius: 0.50rem;
    margin-left: 5%;
    margin-right: 5%;
}

#button:hover {
    cursor: pointer;
}

#button:active {
    border: 0.05rem solid #3235c2;
    color:#3235c2;
    background-color: #b6b6cf;
}

#try-again {
    display: none;
    text-align: center;
    border: 0.10rem solid #b6b6cf;
    padding: 3% 0;
    border-radius: 0.50rem;
    margin-left: 5%;
    margin-right: 5%;
}

#try-again:hover {
    cursor: pointer;
}

#try-again:active {
    border: 0.05rem solid #3235c2;
    color:#3235c2;
    background-color: #b6b6cf;
}